@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
}

@layer utilities {
  @responsive {
    .z-nav {
      z-index: 1001;
    }

    .z-top {
      z-index: 1000;
    }
  }
}

.leaflet-control-zoom,
.leaflet-control-attribution {
  display: none;
}

.table-default td {
  padding-left: 8px;
  padding-right: 4px;
}

.table-default th {
  padding-left: 8px;
  padding-right: 4px;
  text-align: left;
}
