@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
}

@layer utilities {
  @variants responsive {
    .bottom-unset {
      bottom: unset;
    }
  }
}

.z-top {
  z-index: 1001;
}

.leaflet-control-container {
  display: none;
}
